@{
    Layout = "_Layout";
}

@* <html>
    <body> *@
        <h1>
            welcome to home page
            <br/>
        </h1>
        <p>
            this is our new home
        </p>
    @* </body>
</html> *@